* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #24217e;
    color: white;
    padding: 20px;
}

.exercise-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.exercise-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.exercise-box:hover {
    transform: translateY(-10px);
}

.exercise-box img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.exercise-box h3 {
    margin: 15px 0;
    font-size: 1.5em;
}

.exercise-box p {
    margin-bottom: 15px;
    color: #666;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #007bff;
}
